
.skills
  display: flex
  flex-direction: column
  // max-width: 50ch
  align-items: center
  justify-content: space-between
  padding: 20px 0
  width: 100%
  align-items: flex-start
  .skills-list
    display: flex
    align-items: flex-start
    padding-top: 1rem
    width: 100%
    padding-left: 0.5rem

  .skill

    position: relative
    padding-left: 1rem
    padding-bottom:
    padding-right: 3rem

    &::before

      content: "▹"
      position: absolute
      color: #66ffda
      left: 0
      top: 0
      font-size: 0.7rem
    img
      display: none
.detailed-description
  width: 100%
  display: flex
  flex-direction: column
  max-width: 960px
  p
    padding-bottom: 1rem

  .hero-image
    height: 200px
    width: 200px
    width: fit-content
    position: relative
    margin: 2rem 0
    margin-bottom: 3rem
    position: relative
    z-index: 1

    &::before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 10%
      left: 10%
      border: 1px solid #64ffda
                // background: red
      z-index: -1
    img
      height: 100%
      width: auto
      background-color: #64ffda
                // background-color: #0A192F
      border: 1px solid #64ffda
      object-fit: cover

.arsenal
  // height: 20px
  img
    height: 1.5ch
    width: 1.1ch

@media  (min-width: 600px)
  .about-container
    display: grid
    gap: 1rem
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
    // grid-auto-rows: auto
  .skills
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    height: fit-content
    padding-top: 0
    .skills-list
      display: 
      padding: 1rem 0
      display: flex
