
.skills
  display: flex
  width: fit-content
  // max-width: 50ch
  align-items: center
  justify-content: space-between
  padding: 20px

  .skill

    position: relative
    padding-left: 1rem
    padding-bottom: 
    padding-right: 3rem

    &::before

      content: "▹"
      position: absolute
      color: #66ffda
      left: 0
      top: 0
      font-size: 0.7rem
    img
      display: none
.detailed-description
  width: 100%
  p
    padding-bottom: 1rem

.arsenal
  // height: 20px
  img
    height: 1.5ch
    width: 1.1ch
