$overlay: #16161a;

.about {
  background: radial-gradient(#72757e, #16161a);


  color: rgb(219, 203, 203);
  font-weight: 300;
  font-family: 'Cairo', sans-serif;
  padding-top: 80px;

  // width: 100%;
  // height: 100%;
  // transform: translateX(0);
  transition: transform 0.4s ease-in-out;
  // z-index: 2;
  .skills-container {
    // height: 100vh;
    width: 100%;

    .kind-of-sites {
      // height: 100%;
      // width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        color: rgb(255, 255, 255);
        // margin: 0 auto;
        // width: 100%;
      }
    }
  }
}
.about-sites {
  height: 70%;
  // background: white;
  display: grid;
  grid-template-columns: repeat(2, 0.9fr);
  grid-template-rows: repeat(2, 200px);
  align-content: center;
  justify-content: center;
  grid-gap: 10px;
  text-align: center;

  div {
    // border: 2px solid rgb(250, 250, 250);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    // background: red;
    z-index: 1;

    // &::before{
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     background: black;

    //     opacity: 0.95;
    //     top: 0;
    //     left: 0;
    //     position: absolute;
    //     z-index: -1;
    //     background-blend-mode: screen;
    // }

    h3 {
      color: $subheading;
      letter-spacing: 2px;
      font-size: 1.5rem;

    }
    p {
      color: $text;
      font-weight: 400;
      font-size: 1.1rem;
    }

    &:nth-child(1) {
      // background: #e6e6e6;
      background: url("../images/fast.png");
      background-size: cover;
      background-position: center;
      background-color: $overlay;
      background-blend-mode: overlay;

      // grid-area: 1/2/span 1/ span 2;
    }
    &:nth-child(2) {
      background: url("../images/mordern.png");
      background-size: cover;
      background-position: center;
      background-color: $overlay;
      background-blend-mode: overlay;
      // grid-area: 1/1/span 1/span 3;
    }
    &:nth-child(3) {
      background: url("../images/resoponsive.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $overlay;
      background-blend-mode: overlay;
      // grid-area: 1/1/span 1/span 3;
    }
    &:nth-child(4) {
      background: url("../images/dynamic.png");
      background-size: cover;
      background-position: center;
      background-color: $overlay;
      background-blend-mode: overlay;
      // grid-area: 1/2/span 2/ span 1;
    }
  }
}
.skills {
  color: #fffffe;
  background: transparent;
  padding-top: 4px;
  margin-bottom: 80px;

  // margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  grid-gap: 5px;
  grid-row-gap:30px ;
  width: 95%;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  text-align: left;
  // margin-left: 80%;
  transition: 0.5s ease-in ;
  transform: translateY(50%);

  div {
    // margin: 5px;
    // height: 50px;
    // background: rgb(150, 150, 150);
    // background: #16161a;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
      height: 60px;
    }

    &:nth-child(5) {
      grid-area: 2/1 / span 1 / span 2;
      // background: url('/images/css.svg');


    }
    &:nth-child(6) {
      grid-area: 2/3 / span 2 / span 2;
      // background: rgb(0, 255, 76);
    }
  }
}
.about-acive {
  transform: translateX(0);
}
.skills-heading {
  margin-top: 80px;
  margin-bottom: 50px;
  // color: rgb(108, 184, 98);
  color:$mainColor;
  text-shadow: 1px 1px 2px #010101;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  // font-family: sans-serif;
  text-align: center;
  letter-spacing: 2px;

  i{
    color: $liveColor;
  }
}
