

.contact
    margin-top: 4rem
    position: relative
    width: 100%
    &::after
        content: ""
        position: absolute
        width: 100%
        height: 4rem
        border: 1px dotted teal
        border-top: none
        bottom: -1px
        left: 0
        z-index: 4

    .contact-title
        margin-bottom: 2rem
        text-align: center
        border: 1px dotted teal
        border-bottom: none
        color: teal
        padding: 1rem 0.5rem
        letter-spacing: 2px

        &::before
            // content: 
        .heading-number
            color: #66ffda
            padding-right: 1rem
.contact-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    gap: 1rem
.contact-details
    display: flex
    gap: 1rem
    flex-direction: column
    // width: 100%
    justify-content: center
    align-items: center

    & * a
        color: inherit
        text-decoration: none
        text-align: left
        &:last-child
            // color: $blackish
            color: $greyish

            transition: color 0.3s ease
            &:hover
                color: $mainColor

    & > *
        // padding: 0.7rem 0.4rem
        border-radius: 2px
        color: $greyish
        // flex: 1 1 200px
        display: flex
        // flex-direction: column
        align-items: center
        justify-content: center
        & > *
            padding: 0.7rem

.contact-form-wrapper
    display: flex
    align-items: center
    flex-direction: column
    padding: 3rem 0.5rem
    margin: 3rem 0
    height: auto
    gap: 3rem
    min-height: 300px
    background: $greyish
    border-radius: 5px
    width: 100%

.form-feedback
    display: none

.contact-form-parent
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
.contact-form-parent #contactForm
    transition: all 0.5s ease
    position: relative
    width: 100%
    margin: 0 0.5rem
    height: 100%

    // display: none

    .field-name,
    .field-email,
    .field-message,
    .field-submit,
    .field-finish
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background: $whitish
        min-height: 60px
        max-width: 500px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        border-radius: 5px
        padding: 0.5rem
        // transition: all 0.5s ease

    input, #message
        background: none
        border: none
        color: $charcoalBlack
        flex: 1
        outline: none
        height: 100%
        padding: 0.5rem 0
        transition: background 0.5s ease
        border-radius: 5px
        border-bottom: 1px dotted $charcoalBlack
        &:hover
            background: darken($whitish, 10%)
        &::placeholder
            text-align: center
            color: $darkNavy
            font-size: 1rem
    #message
        height: 100px
        resize: none
    i
        padding: 10px
        cursor: pointer
        color: $darkNavy

    .inactive
        opacity: 0
        pointer-events: none
        // transform: translate(-50%, 50%)
    .active
        opacity: 1
        pointer-events: all
        // transform: translate(-50%, -50%)

@keyframes shake
    0%
        transform: translate(-50%, -50%) rotate(0deg)
    50%
        transform: translate(-50%, -50%) rotate(10deg)
    100%
        transform: translate(-50%, -50%) rotate(0deg)
#contactForm .field-finish
    p
        color: $darkNavy
        font-family: 'Play', sans-serif
#contactForm .field-submit
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    .submit
        color: $mainColor
        font-weight: 600
        letter-spacing: 1px
        outline: none
        border: none
        // justify-self: flex-end
        padding: 0.6em .5em
        background: $greyish
        width: 100%
        border-radius: 5px
        font-size: 1rem
        cursor: pointer
        margin: 0 1rem

.holla-prog
    position: relative
    width: 100%
    min-height: 100px
    padding: 1rem 0

    .form-progress-bar
        display: flex
        gap: 1rem
        margin: 2rem 0
        justify-content: center
        align-items: flex-start
        position: absolute
        background: none
        top: 0
        left: 0
        width: 100%
        height: 100%

        padding: 0.5rem
        width: 100%
        div
            width: 0.7rem
            height: 0.7rem
            border-radius: 1px
            background: $whitish
    #holla
        position: absolute
        // background: none
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        padding: 3rem 0
        opacity: 0.1

        p
            font-size: 3rem
            color: $navy
            z-index: 0
            font-weight: 900
            letter-spacing: 2px

.form-title
    // margin: .5rem 0
    // padding: 0.5rem 0
    font-size: 1.3rem
    text-align: center
    color: teal
    padding-top: 1rem
    letter-spacing: 1px
    font-weight: 100
