.contact{
    background: rgb(26, 26, 26);
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    div{
        width: 60%;
        input, textarea{
            width: 100%;
            margin-bottom: 5px;
            resize: none;
        }
        button{
            width: 50%;
            height: 35px;
            background: chartreuse;
            margin-left: 50%;
            color: rgb(34, 34, 34);
            border: none;
        }
    }

}