// $mainColor:#00ebc7;
// $mainColor:#3da9fc;

.home {
  // background: rgb(0, 0, 0);
  background-color: #16161a;
  // background-color: $liveColor;
  background-image: url('/images/triangles_bg.webp');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color:$heading;
  padding-bottom: 80px;

  // transform: translateX(0);
  transition: transform 0.4s ease-in-out;

  // z-index: 1;
  .home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .about-me {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      height: 50%;

      // background-color: aqua;
      .what-i-do p {
        color: #fffffe;
        font-size: 2.2rem;
        font-family: 'Cairo', sans-serif;
        font-weight: 300;
        line-height: 2.5rem;

      }

      h1 {
        font-size: 3.1rem;
        // color: $mainColor;
        color: $liveColor;
        font-weight: 600;
        font-family: 'Cairo', sans-serif;
      }

      .who {
        font-size: 2.3rem;
        line-height: 4rem;
        background: -webkit-linear-gradient(left, #fffffe, $liveColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Cairo', sans-serif;
        font-weight: 600;

      }
    }

    .cta-buttons {
      // width: 100%;
      height: 40px;
      // background: coral;
      display: flex;
      align-items: center;
      justify-items: center;
      a{
        text-decoration: none;
      }

      .separator {
        width: 1px;
        height: 100%;
        background: linear-gradient(to top, $liveColor, black);

        // background: chartreuse;
      }

      button {
        min-width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: 0 auto;
        margin-right: 10px;
        margin-left: 10px;
        // background: rgb(139, 139, 139);
        color: rgb(139, 139, 139);
        background: transparent;
        // color: black;
        border: 3px solid $liveColor;
        border-radius: 1rem;
        outline: none;
        font-family: 'Cairo', sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        // font-weight: 100;
        padding: 5px;
        cursor: pointer;
        transition: all 0.4s ease-out;
        p{
        font-size: 1.2rem;

        }

        &:hover {
          background: rgb(29, 24, 24);
        }
      }
    }
  }
}

.home-acive {
  transform: translateX(0);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: $mainColor;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background: rgba($bg, 0.7);

  .logo {
    padding: 5px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $liveColor;
      font-family: 'Share Tech Mono', monospace;
      font-weight: 400;
    }
  }

  //   opacity: 0;
  transition: all 0.4s ease-in;
  //   transform: translateY(-100%);

  .nav-icons {
    width: 35%;
    display: flex;
    // opacity: 0;

    ul {
      width: 100%;
      display: flex;
      //   background: white;
      justify-content: space-between;
      list-style: none;
      padding-right: 5px;
      // padding-top: 5px;

      li {
        overflow: hidden;
      }

      a {
        text-decoration: none;
        color: $heading;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          background: transparent;
          position: absolute;
          border-bottom: 2px solid $liveColor;
          transform: translateX(-100%);
          transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;


        }
      }

      .page-active::after {
        transform: translate(0);
      }


      li i {
        cursor: pointer;
      }
    }
  }
}