
.home
    height: auto
    width: 100%
    padding-top: 100px
    .home-container
        height: 100%
        width: 100%
        .hero-image
            height: 200px
            width: 200px
            width: fit-content
            position: relative
            margin-bottom: 1rem
            margin-top: 1rem
            position: relative
            z-index: 1

            &::before
                content: ""
                width: 100%
                height: 100%
                position: absolute
                top: 10%
                left: 10%
                border: 1px solid #64ffda
                // background: red
                z-index: -1
            img
                height: 100%
                width: auto
                background-color: #64ffda
                // background-color: #0A192F
                border: 1px solid #64ffda
                object-fit: cover

        .about-me
            display: flex
            flex-direction: column
            justify-content: space-around
            .greeting
                color: #64ffda
            .my-name
                color: #ccd6f6
                text-transform: uppercase
                margin-top: 1rem
                // font-size: 1.3125rem
                font-size: 3rem
                font-family: 'Stick', sans-serif
                margin-top: 1rem

            .catch-phrase
                color: #8892b0
                // font-size: 1.25rem
                font-size: 3rem

                padding: 1rem 0
            .brief-intro
                font-size: 1.3rem
                margin: 2rem 0

            .cta
                margin: 4rem 0
                margin-bottom: 10rem
                .cta-button
                    background: #0A192F
                    color: #64ffda
                    border: 1px solid #64ffda
                    padding: 0.5rem 0.8rem
                    display: flex
                    align-items: center
                    justify-content: center
                    border-radius: 0.4rem
                    transition: background 0.5s ease

                    &:hover
                        background: #64ffda1a
                    span
                        text-transform: capitalize
                        font-size: 1.2rem
        // min-height: 100vh
        // grid-template-columns: 2fr 1fr
