.home {

  background: #757F9A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #D7DDE8, #757F9A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;

  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  position: relative;


  img {
    max-width: 100%;
    filter: drop-shadow(5rem 5rem 5rem, #000000);
    position: absolute;

  }

  .sidebar {
    height: 98%;
    width: 30%;
    border-radius: 10px;
    border-radius: 10px;
    margin: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

    .sidebar-container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "."
        "."
        ".";

      .sidebar-cta {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        padding: 10px 20px;


        .btn {
          padding: 12px 48px;
          border: 1px solid $liveColor;


          color: #ffffff;
          background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
          background-position: 0;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: shine 3s infinite linear;
          animation-fill-mode: forwards;
          -webkit-text-size-adjust: none;
          font-weight: 600;
          font-size: 16px;
          text-decoration: none;
          white-space: nowrap;

        }

        .btn-2 {
          animation-delay: 1s;
        }

        @keyframes shine {
          0% {
            background-position: 0;
          }

          60% {
            background-position: 180px;
          }

          100% {
            background-position: 180px;
          }
        }





      }
    }


  }

  .home-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    background: transparent;



    .about-me {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      height: 40%;


      .what-i-do p {
        // color: #fffffe;
        color: $bg;
        font-size: 1.8rem;
        font-family: 'Cairo', sans-serif;
        font-weight: 300;
        text-align: center;

      }

      h1 {
        font-size: 3rem;
        color: $liveColor;
        font-weight: 600;
        font-family: 'Cairo', sans-serif;
        display: none;
      }

      .who {
        padding: 40px 20px;
        border-radius: 83% 17% 87% 13% / 31% 70% 30% 69%;

        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;

        p {
          font-size: 1.7rem;
          font-family: 'Cairo', sans-serif;
          font-weight: 600;
          color: #ffffff;

          &:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
          }


        }


      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }
    }

    .me {
      width: 200px;
      height: 200px;
      /* fallback for old browsers */
      // background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
      // background: linear-gradient(to right, $liveColor, $bg);
      border: none;
      // border: 3px solid $bg;
      // border-radius: 78% 22% 25% 75% / 44% 43% 57% 56%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;

      img {
        // position: absolute;
        // top: 0;
        // left: 0;
        height: auto;
        width: 100%;
      }
    }



    .cta-container {
      height: 50px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-items: center;

    }

    .cta-buttons {
      height: 40px;
      display: flex;
      align-items: center;
      justify-items: center;

      a {
        text-decoration: none;
      }

      .separator {
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom, $liveColor, #337bae);
      }

      button {
        min-width: 150px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        color: $bg;
        background: transparent;
        border: 3px solid $liveColor;
        border-radius: 10px;
        outline: none;
        font-family: 'Cairo', sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        padding: 5px;
        cursor: pointer;
        transition: all 0.4s ease-out;
        position: relative;
        transition: all 0.5s ease-in;


        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.2rem;
          display: inline-block;
          width: 100%;
        }

        &:hover {
          background: rgba($liveColor, 0.1);
          transform: translateY(-5px);
        }
      }
    }
  }
}



.home-acive {
  transform: translateX(0);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: $mainColor;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  // background: rgba($bg, 0.7);
  background: rgba(0, 78, 124, 0.60);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.0px);
  -webkit-backdrop-filter: blur(3.0px);
  border-radius: 10px;

  .logo {
    padding: 5px;
    cursor: pointer;
      background: rgba($liveColor, 0.50);
      position: relative;
      border-radius: 5px;

    a {
      text-decoration: none;
      // color: $liveColor;
      color: $livePale;
      font-family: 'Share Tech Mono', monospace;
      font-weight: 400;
      margin-left: 50px;
    }
    .my-avatar{
      // background: wheat;
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      padding-left: 5px;
      padding-top: 5px;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  //   opacity: 0;
  transition: all 1s cubic-bezier(1,.99,.06,.98);
  //   transform: translateY(-100%);

  .nav-icons {
    width: 35%;
    display: flex;
    // opacity: 0;

    ul {
      width: 100%;
      display: flex;
      //   background: white;
      justify-content: space-between;
      list-style: none;
      padding-right: 5px;
      // padding-top: 5px;

      li {
        overflow: hidden;
        margin: -1px;
      }

      a {
        text-decoration: none;
        // color: $heading;
        color: $livePale;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: transparent;
          position: absolute;
          // border-bottom: 2px solid $liveColor;
          border-bottom: 2px solid $livePale;
          transform: translateX(-100%);
          transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;


        }
      }

      .page-active::after {
        transform: translate(0);
      }


      li i {
        cursor: pointer;
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-6 22:42:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media only screen and (min-width : 1200px) {
  .home {
    // background: #4776E6;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #8E54E9, #4776E6);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #757F9A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D7DDE8, #757F9A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 1;

  }

  .sidebar {
    display: block !important;
  }

  .home-container {
    width: 60%;
    margin-left: 30%;

  }

  .cta-buttons {
    display: none !important;
  }

  nav {
    width: 50%;
  }

  .me {
    width: 440px !important;
    height: 440px !important;


    img {

      height: 100%;
      width: 100%;
    }
  }

  .testimonials-mobile{
    display: none !important;
  }

  .testimonials {

    // background: #ccc;
    text-align: right;

    h2 {
      padding-right: 10px;
      margin-bottom: 10px;
    }

    .reviews {
      // background: #ee7752;
      // display: fle
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr, 1fr 1fr;
      grid-gap: 10px;
      height: 100%;
      width: 100%;
      // overflow: scroll;
      // overflow: hidden;

      .card {
        // width: 90%;
        height: 100%;
        padding: 10px;
        // border :2px solid black;
        text-align: right;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Cairo', sans-serif;

        h3 {
          font-weight: 500;
          color: rgb(0, 0, 0);
        }

        q {
          font-weight: 100;
          color: rgb(78, 78, 78);
          
        }
      }
    }
  }
}
.testimonials-mobile{
  background: rgba($liveColor, 0.2);
}
.reviews {
  // background: #ee7752;
  // display: fle
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
  // background: transparent;

  // overflow: scroll;
  // overflow: hidden;

  .card {
    // width: 90%;
    height: 100%;
    padding: 10px;
    // border :2px solid black;
    text-align: right;
    background: transparent;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Cairo', sans-serif;

    h3 {
      font-weight: 500;
      color: $livePale;
    }

    q {
      font-weight: 100;
      color: rgb(145, 145, 145);
      
    }
  }
}