.home {
  background-color: $bg;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;

  img {
    max-width: 100%;
    filter: drop-shadow(5rem 5rem 5rem, #000000);
    position: absolute;

  }

  .home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    background: inherit;



    .about-me {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      height: 40%;


      .what-i-do p {
        color: #fffffe;
        font-size: 1.8rem;
        font-family: 'Cairo', sans-serif;
        font-weight: 300;

        // line-height: 2.2rem;

      }

      h1 {
        font-size: 3rem;
        // color: $mainColor;
        color: $liveColor;
        font-weight: 600;
        font-family: 'Cairo', sans-serif;
      }

      .who {
        font-size: 1.7rem;
        // line-height: auto;
        background: -webkit-linear-gradient(left, #fffffe, $liveColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Cairo', sans-serif;
        font-weight: 600;

      }
    }
    .me {
      width: 220px;
      height: 220px;
      background: $liveColor;
      /* fallback for old browsers */
      // background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, $liveColor, $bg);
      border: none;
      border: 3px solid $bg;
      border-radius: 78% 22% 25% 75% / 44% 43% 57% 56%;
      position: relative;
      overflow: hidden;
      object-fit: cover;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }



    .cta-container {
      height: 50px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-items: center;

    }

    .cta-buttons {
      height: 40px;
      display: flex;
      align-items: center;
      justify-items: center;

      a {
        text-decoration: none;
      }

      .separator {
        width: 1px;
        height: 100%;
        background: linear-gradient(to top, $liveColor, black);
      }

      button {
        min-width: 170px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        color: rgb(139, 139, 139);
        background: transparent;
        border: 3px solid $liveColor;
        border-radius: 1rem;
        outline: none;
        font-family: 'Cairo', sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        padding: 5px;
        cursor: pointer;
        transition: all 0.4s ease-out;
        position: relative;
        transition: all 0.5s ease-in;


        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.2rem;
          display: inline-block;
          width: 100%;
        }

        &:hover {
          background: rgba($liveColor, 0.1);
          transform: translateY(-5px);
        }
      }
    }
  }
}



.home-acive {
  transform: translateX(0);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: $mainColor;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background: rgba($bg, 0.7);

  .logo {
    padding: 5px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $liveColor;
      font-family: 'Share Tech Mono', monospace;
      font-weight: 400;
    }
  }

  //   opacity: 0;
  transition: all 0.4s ease-in;
  //   transform: translateY(-100%);

  .nav-icons {
    width: 35%;
    display: flex;
    // opacity: 0;

    ul {
      width: 100%;
      display: flex;
      //   background: white;
      justify-content: space-between;
      list-style: none;
      padding-right: 5px;
      // padding-top: 5px;

      li {
        overflow: hidden;
      }

      a {
        text-decoration: none;
        color: $heading;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: transparent;
          position: absolute;
          border-bottom: 2px solid $liveColor;
          transform: translateX(-100%);
          transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;


        }
      }

      .page-active::after {
        transform: translate(0);
      }


      li i {
        cursor: pointer;
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-6 22:42:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}