nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 0 1rem
    height: auto
    z-index: 30
    display: flex
    align-items: center
    background-color: #0A192F
    opacity: 0.8
    justify-content: space-between

    .logo
        color: #66ffda
        height: 2rem
        width: 3rem
        margin: 0.6rem 0
        // margin-left: 1rem
        position: relative
        &::before
            content: "R"
            position: absolute
            color: #66ffda
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            margin: 0
            padding: 0
            font-family: 'Play', sans-serif

        #logo
            height: 100%
            width: 100%
    .burger
        background: yellow
        // flex-grow: 2
        display: none

    .nav-items
        // flex-grow: 1
        width: auto
        font-size: 0.7rem
        font-family: 'Play', sans-serif
        font-weight: 400
        // display: flex
        // align-items: center
        // justify-content: center

        ul
            width: 100%

            display: flex
            align-items: center
            // justify-content: center
            justify-content: space-between
            text-align: center
            li
                padding: 0.5rem
                list-style-type: none
                width: 100%
                // border: 1px solid #64fdda
                margin-left: 0.2rem
                text-align: center
                transition: color 0.5s ease, transform 0.5s ease-in-out
                cursor: pointer
                a
                    text-decoration: none
                    text-transform: capitalize
                    color: #ccd6f6
                    letter-spacing: 1px
                    font-size: 1rem
                    transition: color 0.5s ease, transform 0.5s ease-in-out
                    display: flex
                    @include hover-animate-color

                    .nav-number
                        color: #66ffda
                        margin-right: 2px
                        transition: color 0.5s ease, transform 0.5s ease-in-out
                        cursor: pointer
                        @include hover-animate-color
