.portofolio {
    // background: #242629;
    background-color: #757F9A;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    // transform: translateX(0);
    transition: transform 0.4s ease-in-out;

    // z-index: 2;
    .portofolio-container {
        // width: 90%;
        // height: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
        grid-template-rows: repeat(auto, 1fr);
        grid-gap: 20px;
        // justify-content: center;
        // align-items: center;
        margin: 0 auto;

        .portofolio-img img {
            filter: drop-shadow(0.1rem 0.1rem 0.1rem #72757e);
            // max-width: 100%;
            width: 300px;
            height: auto;

        }

        h3 {
            color: $subheading;
            font-weight: 400;
            font-size: 1.1rem;
        }

        p {
            color: $text;
        }


    }
}

.portofolio-container>div {
    // background: rgba(black, .5);
    width: 100%;
    height: 400px;
    background: #16161a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    box-shadow: 0 10px 10px -5px;
    // margin: 0 auto;
    position: relative;
    overflow: hidden;

    .portofolio-hover {
        background: rgba($liveColor, 0.45);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        // border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        opacity: 0;
        transition: ease-out 0.5s;
        p , h3{
        color: $livePale;
        background-blend-mode: overlay;
        }
        &:hover {
            opacity: 1;

        }
    }



}

.visit {
    // background: yellow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    button {
        background: $bg;
        height: 30px;
        width: fit-content;
        border: 1px solid $text;
        outline: none;
        transition: all 0.5s ease-in;
        padding: 2px 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus-within {
            background: $mainColor;
            cursor: pointer;
        }

        a{
            text-decoration: none;
        }

        p {
            font-size: 1rem;
            letter-spacing: 4px;
        }

        &:hover {
            background: rgba($liveColor, 0.1);
            transform: translateY(-5px);
        }
    }
}

.portofolio-acive {
    transform: translateX(0);
}

// Media queries

@media only screen and (min-width : 1200px) {
    .portofolio {
        // margin: 0 auto;
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". .";
        // margin: 0 auto;

    }

    .portofolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". .";
        // background-color: yellow;
        width: 90%;

    }

}