.portofolio {
    // background: #242629;
    background-color: #757F9A;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    // transform: translateX(0);
    transition: transform 0.4s ease-in-out;

    // z-index: 2;
    .portofolio-container {
        // width: 90%;
        // height: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
        grid-template-rows: repeat(auto,1fr)  ;
        grid-gap: 20px;
        // justify-content: center;
        // align-items: center;
        margin: 0 auto;

        .portofolio-img img {
            filter: drop-shadow(0.1rem 0.1rem 0.1rem #72757e);
            // max-width: 100%;
            width: 300px;
            height: auto;

        }

        h3 {
            color: $subheading;
            font-weight: 400;
            font-size: 1.1rem;
        }

        p {
            color: $text;
        }


    }
}

.portofolio-container>div {
    // background: rgba(black, .5);
    width: 100%;
    height: 400px;
    background: #16161a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    box-shadow: 0 10px 10px -5px;
    // margin: 0 auto;



}

.visit {
    // background: yellow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    button {
        background: $bg;
        position: relative;
        // box-shadow: inset 5px 5px 5px rgba(black, 0.2)
        //     // inset -5px -5px 15px rgba(white, 0.1),
        //     // 5px 5px 5px  rgba(black, 0.3),
        //     // -5px -5px 15px rgba(white, 0.1)
        // ;

        // border-radius: 15px;
        height: 30px;
        width: 15%;
        border: 1px solid $text;
        outline: none;
        transition: all 0.5s ease-in;
        padding: 2px;

        &:focus-within {
            background: $mainColor;
            cursor: pointer;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            letter-spacing: 4px;
        }

        &:hover {
            background: rgba($liveColor, 0.1);
            transform: translateY(-5px);
        }
    }
}

.portofolio-acive {
    transform: translateX(0);
}

// Media queries

@media only screen and (min-width : 1200px) {
    .portofolio {
        // margin: 0 auto;
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". .";
        // margin: 0 auto;

    }

    .portofolio-container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr ;
        gap: 0px 0px;
        grid-template-areas:
            ". .";
        // background-color: yellow;
        width: 90%;
   
    }

}