nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background: red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11000;
}

.logo {
  color: #d0dddd;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: red;
  padding-left: 10px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #d8d8d8;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
}

.burger {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #bababa;
  border-radius: 10px;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
    background: black;
  }
}

@media screen and (min-width: 768px) {
  nav {
    -webkit-box-shadow: 0 5px 15px rgba(253, 253, 253, 0.5);
            box-shadow: 0 5px 15px rgba(253, 253, 253, 0.5);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    background-color: transparent;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    top: 8vh;
    height: 92vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 10000;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 10px;
  }
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.logo-burger {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.scroll-toggle {
  overflow: hidden;
}
/*# sourceMappingURL=nav.css.map */