@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0A192F;
}

html p {
  max-width: 80ch;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  line-height: 1.3;
  overflow-x: hidden;
  background: grey;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  background-color: #0A192F;
  color: #8892b0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

body main {
  padding: 0 1rem;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.8;
  position: relative;
  opacity: 0;
}

body main section {
  padding-bottom: 6rem;
}

body aside {
  background: transparent;
  height: 100vh;
  width: 5%;
  position: fixed;
  top: 0;
  padding-top: 4rem;
  color: #ccd6f6;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  display: none;
  font-family: 'Play', sans-serif;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body aside .aside-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body aside .aside-icons li {
  list-style: none;
  padding-bottom: 1rem;
  -webkit-transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
}

body aside .aside-icons li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #66ffda;
}

body aside .empty-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body aside .horizontal-line {
  width: 1px;
  height: 90px;
  background: #ccd6f6;
}

body .aside-right {
  right: 0;
}

body .aside-right p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.1em;
  padding-bottom: 1rem;
  -webkit-transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
}

body .aside-right p:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #66ffda;
}

body .section-heading {
  color: #ccd6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding-bottom: 2rem;
  letter-spacing: 2px;
}

body .section-heading .heading-number {
  color: #66ffda;
  padding-right: 1rem;
  font-family: 'Play', sans-serif;
}

@media (min-width: 480px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% auto 5%;
        grid-template-columns: 5% auto 5%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  body aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.loader-wrapper {
  background-color: #0A192F;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  display: none;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #66ffda;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.diamond-container {
  width: 150px;
  height: 150px;
}

#diamondSvg {
  fill: transparent;
}

#path2 {
  display: none;
}

#diamondPath {
  width: 100%;
  height: 100%;
  stroke: #66ffda;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
  -webkit-animation: diamond 4s  ease;
          animation: diamond 4s  ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes diamond {
  0% {
    stroke-dashoffset: 270;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes diamond {
  0% {
    stroke-dashoffset: 270;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.contact {
  margin-top: 4rem;
  position: relative;
  width: 100%;
}

.contact::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4rem;
  border: 1px dotted teal;
  border-top: none;
  bottom: -1px;
  left: 0;
  z-index: 4;
}

.contact .contact-title {
  margin-bottom: 2rem;
  text-align: center;
  border: 1px dotted teal;
  border-bottom: none;
  color: teal;
  padding: 1rem 0.5rem;
  letter-spacing: 2px;
}

.contact .contact-title .heading-number {
  color: #66ffda;
  padding-right: 1rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1rem;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-details * a {
  color: inherit;
  text-decoration: none;
  text-align: left;
}

.contact-details * a:last-child {
  color: #8892b0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contact-details * a:last-child:hover {
  color: #66ffda;
}

.contact-details > * {
  border-radius: 2px;
  color: #8892b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-details > * > * {
  padding: 0.7rem;
}

.contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0.5rem;
  margin: 3rem 0;
  height: auto;
  gap: 3rem;
  min-height: 300px;
  background: #8892b0;
  border-radius: 5px;
  width: 100%;
}

.form-feedback {
  display: none;
}

.contact-form-parent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-parent #contactForm {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  width: 100%;
  margin: 0 0.5rem;
  height: 100%;
}

.contact-form-parent #contactForm .field-name,
.contact-form-parent #contactForm .field-email,
.contact-form-parent #contactForm .field-message,
.contact-form-parent #contactForm .field-submit,
.contact-form-parent #contactForm .field-finish {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ccd6f6;
  min-height: 60px;
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
}

.contact-form-parent #contactForm input, .contact-form-parent #contactForm #message {
  background: none;
  border: none;
  color: #040404;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  height: 100%;
  padding: 0.5rem 0;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  border-radius: 5px;
  border-bottom: 1px dotted #040404;
}

.contact-form-parent #contactForm input:hover, .contact-form-parent #contactForm #message:hover {
  background: #a1b3ee;
}

.contact-form-parent #contactForm input::-webkit-input-placeholder, .contact-form-parent #contactForm #message::-webkit-input-placeholder {
  text-align: center;
  color: #020c1b;
  font-size: 1rem;
}

.contact-form-parent #contactForm input:-ms-input-placeholder, .contact-form-parent #contactForm #message:-ms-input-placeholder {
  text-align: center;
  color: #020c1b;
  font-size: 1rem;
}

.contact-form-parent #contactForm input::-ms-input-placeholder, .contact-form-parent #contactForm #message::-ms-input-placeholder {
  text-align: center;
  color: #020c1b;
  font-size: 1rem;
}

.contact-form-parent #contactForm input::placeholder, .contact-form-parent #contactForm #message::placeholder {
  text-align: center;
  color: #020c1b;
  font-size: 1rem;
}

.contact-form-parent #contactForm #message {
  height: 100px;
  resize: none;
}

.contact-form-parent #contactForm i {
  padding: 10px;
  cursor: pointer;
  color: #020c1b;
}

.contact-form-parent #contactForm .inactive {
  opacity: 0;
  pointer-events: none;
}

.contact-form-parent #contactForm .active {
  opacity: 1;
  pointer-events: all;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

#contactForm .field-finish p {
  color: #020c1b;
  font-family: 'Play', sans-serif;
}

#contactForm .field-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#contactForm .field-submit .submit {
  color: #66ffda;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  border: none;
  padding: 0.6em .5em;
  background: #8892b0;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 1rem;
}

.holla-prog {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 1rem 0;
}

.holla-prog .form-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  background: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}

.holla-prog .form-progress-bar div {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 1px;
  background: #ccd6f6;
}

.holla-prog #holla {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  opacity: 0.1;
}

.holla-prog #holla p {
  font-size: 3rem;
  color: #0A192F;
  z-index: 0;
  font-weight: 900;
  letter-spacing: 2px;
}

.form-title {
  font-size: 1.3rem;
  text-align: center;
  color: teal;
  padding-top: 1rem;
  letter-spacing: 1px;
  font-weight: 100;
}

.blog {
  margin-bottom: 4rem;
}

.recent-blog {
  margin-bottom: 2rem;
}

.more-posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-posts a {
  text-decoration: none;
  color: #66ffda;
  border-bottom: 1px solid #66ffda;
  font-size: 1rem;
  margin: 2rem auto;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.more-posts a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.blog-container article {
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
  text-align: center;
}

.blog-container article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blog-container article .article-card-image {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-container article .article-card-image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.blog-container article .article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#8892b0), to(rgba(136, 146, 176, 0.4)));
  background: linear-gradient(to top, #8892b0, rgba(136, 146, 176, 0.4));
  background-color: #020c1b;
}

.blog-container article .article-card p {
  color: #262626;
  font-weight: 400;
  max-width: 80ch;
}

.blog-container article .article-card h1 {
  font-size: 1.0rem;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 80ch;
  position: relative;
}

.blog-container article .article-card h6 {
  font-weight: 400;
  color: #040404;
  max-width: 80ch;
}

.blog-container article .article-card h1 > a {
  color: black;
  text-decoration: none;
  color: white;
  color: #ccd6f6;
  font-weight: 600;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.blog-container article .article-card h1 > a:hover {
  color: #66ffda;
}

.blog-container article .article-card .article-link {
  border-radius: 5px;
  background-color: black;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 0.4em 0.8em;
}

.blog-container article .article-card .article-link a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.blog-container article .article-card .article-link a:hover {
  color: #66ffda;
}

.home {
  height: auto;
  width: 100%;
  padding-top: 10rem;
}

.home .home-container {
  height: 100%;
  width: 100%;
}

.home .home-container .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home-container .about-me .greeting {
  color: #64ffda;
  letter-spacing: 1px;
}

.home .home-container .about-me .my-name {
  color: #ccd6f6;
  text-transform: uppercase;
  margin: 1.2rem 0;
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: 1px;
  font-family: 'Play', sans-serif;
  line-height: 1.1;
}

.home .home-container .about-me .catch-phrase {
  color: #8892b0;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  padding-bottom: 1.2rem;
  line-height: 1.1;
}

.home .home-container .about-me .brief-intro {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-family: 'Play', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  max-width: 80ch;
  font-weight: 400;
}

.home .home-container .about-me .cta {
  margin: 4rem 0;
  margin-bottom: 14rem;
}

.home .home-container .about-me .cta .cta-button {
  background: #0A192F;
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 0.5rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: background 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s ease, transform 0.5s ease-in-out;
  transition: background 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.home .home-container .about-me .cta .cta-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #66ffda1a;
}

.home .home-container .about-me .cta .cta-button:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #66ffda1a;
}

.home .home-container .about-me .cta .cta-button span {
  text-transform: capitalize;
  font-size: 1.2rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  height: auto;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A192F;
  opacity: 0.8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  color: #66ffda;
  height: 3rem;
  width: 4rem;
  margin: 0.6rem 0;
  position: relative;
}

nav .logo::before {
  content: "R";
  position: absolute;
  color: #66ffda;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

nav .logo #logo {
  height: 100%;
  width: 100%;
}

nav .nav-items {
  width: auto;
  font-size: 0.7rem;
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

nav .nav-items ul {
  width: 100%;
  gap: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

nav .nav-items ul #contact-btn::before {
  display: none;
}

nav .nav-items ul #contact-btn button {
  color: #020c1b;
  padding: 0.3rem 0.4rem;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #66ffda;
  font-size: 0.9rem;
  border: 1px solid #66ffda;
  cursor: pointer;
}

nav .nav-items ul #contact-btn button:hover {
  background: #020c1b;
  color: #66ffda;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav .nav-items ul li {
  padding: 0.5rem 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
  -webkit-transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}

nav .nav-items ul li:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

nav .nav-items ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #66ffda;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav .nav-items ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ccd6f6;
  letter-spacing: 1px;
  -webkit-transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8rem;
}

nav .nav-items ul li .nav-number {
  color: #66ffda;
  margin-right: 2px;
  -webkit-transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 400px) {
  #contact-btn {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    width: auto;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  text-align: justify;
  margin: 4rem 0;
}

.skills > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 240px;
          flex: 1 1 240px;
}

.skills .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3rem;
  width: 100%;
}

.skills .skills-list > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0.5rem;
}

.skills .skill {
  position: relative;
  padding-left: 1rem;
}

.skills .skill::before {
  content: "▹";
  position: absolute;
  color: #66ffda;
  left: 0;
  top: 0;
  font-size: 0.7rem;
}

.skills .skill img {
  display: none;
}

.about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.detailed-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 960px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.detailed-description .hero-image {
  height: 200px;
  width: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 3rem 0;
  position: relative;
  z-index: 1;
}

.detailed-description .hero-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  border: 1px solid #64ffda;
  z-index: -1;
}

.detailed-description .hero-image img {
  height: 100%;
  width: auto;
  background-color: #64ffda;
  border: 1px solid #64ffda;
  -o-object-fit: cover;
     object-fit: cover;
}

.arsenal img {
  height: 3.5ch;
  width: 3.1ch;
}

.value-proposition {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.value-proposition .value-proposition-title {
  padding-left: 0.5rem;
  line-height: normal;
  width: 100%;
  text-align: left;
}

.value-proposition .value-proposition-title h3 {
  font-size: 1.3rem;
  color: #ccd6f6;
}

.value-proposition .value-proposition-container {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.value-proposition .value-proposition-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 240px;
          flex: 1 1 240px;
}

.value-proposition .value {
  background: #020c1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  padding: 1rem;
}

.value-proposition .value p {
  text-align: center;
  max-width: 30ch;
}

.value-proposition .value h3 {
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: #ccd6f6;
}

.portofolio {
  margin-bottom: 4rem;
}

.portofolio .portofolio-subtitle {
  margin-bottom: 1rem;
}

.portofolio .portofolio-container {
  width: 100%;
}

.portofolio .portofolio-container .portofolio-iten {
  width: 100%;
  height: 500px;
  background-image: url("/images/ideal-designer1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.portofolio .portofolio-container .portofolio-iten:nth-child(2) {
  width: 100%;
  background-image: url("/images/d-resort.png");
}

.portofolio .portofolio-container .portofolio-iten .svg-container {
  height: 200px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(4, 4, 4, 0.9);
  -webkit-box-shadow: 0 8px 32px 0 rgba(4, 4, 4, 0.37);
          box-shadow: 0 8px 32px 0 rgba(4, 4, 4, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.portofolio .portofolio-container .portofolio-iten .svg-container .portofolio-title, .portofolio .portofolio-container .portofolio-iten .svg-container .portofolio-category {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: teal;
  font-size: 1.1rem;
}

.portofolio .portofolio-container .portofolio-iten .svg-container .portofolio-title {
  font-family: 'Play', sans-serif;
}

.portofolio .portofolio-container .portofolio-iten .svg-container .portofolio-category {
  color: #8892b0;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 0.9rem;
}

.portofolio .portofolio-container .portofolio-iten .portofolio-buttons {
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.portofolio .portofolio-container .portofolio-iten .portofolio-buttons button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.portofolio .portofolio-container .portofolio-iten .portofolio-buttons button a {
  text-decoration: none;
  color: #8892b0;
  font-size: 0.7rem;
}

.portofolio .portofolio-container .portofolio-iten .portofolio-buttons button a i {
  color: #8892b0;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.portofolio .portofolio-container .portofolio-iten .portofolio-buttons button a i:hover {
  color: #66ffda;
}

.portofolio .portofolio-container .portofolio-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 1.5rem;
  border: 1px solid #233554;
  border-radius: 10px;
  z-index: 2;
  min-height: 280px;
  display: none;
}

.portofolio .portofolio-container .portofolio-item::before {
  content: "ron";
  color: #66ffda;
  font-family: "Font Awesome 5 Free";
  content: "\f07b";
  position: absolute;
  top: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.portofolio .portofolio-container .portofolio-item .project-tech-list {
  max-width: 100%;
}

.portofolio .portofolio-container .portofolio-item .project-tech-list ul {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.portofolio .portofolio-container .portofolio-item .project-tech-list ul li {
  font-family: 'Play', sans-serif;
  text-transform: capitalize;
}

.portofolio .portofolio-container .portofolio-item h3, .portofolio .portofolio-container .portofolio-item p, .portofolio .portofolio-container .portofolio-item div {
  padding-bottom: 20px;
}

.portofolio .portofolio-container .portofolio-item h3, .portofolio .portofolio-container .portofolio-item p {
  color: #ccd6f6;
  margin-bottom: 1rem;
}

.portofolio .portofolio-container .portofolio-item p {
  max-width: 80ch;
}

.portofolio .portofolio-container .portofolio-item .project-buttons {
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.portofolio .portofolio-container .portofolio-item .project-buttons button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  outline: none;
  border: none;
}

.portofolio .portofolio-container .portofolio-item .project-buttons button a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 1rem;
}

.portofolio .portofolio-container .portofolio-item .portofolio-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.1;
  z-index: -1;
}

.portofolio .portofolio-container .portofolio-item .portofolio-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.align-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.align-left::before {
  right: 0;
}

.align-left .project-buttons button {
  text-align: left;
  margin-right: 3rem;
}

.align-left .project-buttons button a {
  color: green;
}

.align-left li {
  padding-right: 1rem;
}

.align-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.align-right::before {
  left: 0;
}

.align-right .project-buttons button {
  text-align: right;
  margin-left: 3rem;
}

.align-right li {
  padding-left: 1rem;
}

@media screen and (min-width: 600px) {
  .portofolio-container {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

footer {
  width: calc( 100% + 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

footer .social-icons a {
  padding: 0.5rem;
  text-decoration: none;
  color: #ccd6f6;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, -webkit-transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out;
  transition: color 0.5s ease, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  cursor: pointer;
}

footer .social-icons a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #66ffda;
}

footer .copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  padding-top: 0;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

footer .copyrights > * {
  padding: 0 0.5rem;
  color: #ccd6f6;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  font-size: 0.7rem;
}

footer .copyrights > *:hover {
  color: #66ffda;
}
/*# sourceMappingURL=style.css.map */