
*
    margin: 0
    box-sizing: border-box
    padding: 0

html
    // min-height: -webkit-fill-available
    width: 100%
    min-width: 100%
    margin: 0
    padding: 0
    overflow-x: hidden
    background-color: #0A192F


body
    padding: 0 0.5rem
    // padding: 0
    box-sizing: border-box
    width: 100%
    min-width: 100vw
    min-height: 100vh
    line-height: 1.3
    overflow-x: hidden
    background: grey
    min-height: -webkit-fill-available
    background-color: #0A192F
    color: #8892b0
    // font-family: 'Montserrat', sans-serif
    font-family: 'Poppins', sans-serif
    position: relative

    .section-heading
        color: #ccd6f6
        display: flex
        align-items: flex-start
        width: 100%
        // font-size: 1.1rem
        &::before
            // content: 
        .heading-number
            color: #66ffda
            padding-right: 1rem
            font-family: 'Stick', sans-serif

// loader
    

// @import "loader"
@import "preloader"
@import "contact"
@import "home"
@import "nav"
@import "about"
@import "portofolio"
@import "footer"

