.home {
  background-color: #16161a;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: #fffffe;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.home img {
  max-width: 100%;
  -webkit-filter: drop-shadow(5rem 5rem 5rem, #000000);
          filter: drop-shadow(5rem 5rem 5rem, #000000);
  position: absolute;
}

.home .home-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.home .home-container .me-photo {
  background: gray;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.home .home-container .me-photo .me {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  position: absolute;
}

.home .home-container svg {
  overflow: hidden;
  position: relative;
}

.home .home-container svg image {
  position: absolute;
}

.home .home-container .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  height: 40%;
}

.home .home-container .about-me .what-i-do p {
  color: #fffffe;
  font-size: 2.2rem;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
}

.home .home-container .about-me h1 {
  font-size: 3rem;
  color: #3da9fc;
  font-weight: 600;
  font-family: 'Cairo', sans-serif;
}

.home .home-container .about-me .who {
  font-size: 2.3rem;
  background: -webkit-linear-gradient(left, #fffffe, #3da9fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
}

.home .home-container .cta-container {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.home .home-container .cta-buttons {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.home .home-container .cta-buttons a {
  text-decoration: none;
}

.home .home-container .cta-buttons .separator {
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#3da9fc), to(black));
  background: linear-gradient(to top, #3da9fc, black);
}

.home .home-container .cta-buttons button {
  min-width: 170px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  color: #8b8b8b;
  background: transparent;
  border: 3px solid #3da9fc;
  border-radius: 1rem;
  outline: none;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: relative;
}

.home .home-container .cta-buttons button p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
}

.home .home-container .cta-buttons button:hover {
  background: #1d1818;
}

.home-acive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #606368;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  background: rgba(22, 22, 26, 0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

nav .logo {
  padding: 5px;
  cursor: pointer;
}

nav .logo a {
  text-decoration: none;
  color: #3da9fc;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
}

nav .nav-icons {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-icons ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-right: 5px;
}

nav .nav-icons ul li {
  overflow: hidden;
}

nav .nav-icons ul a {
  text-decoration: none;
  color: #fffffe;
  position: relative;
  z-index: 1;
}

nav .nav-icons ul a::after {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: transparent;
  position: absolute;
  border-bottom: 2px solid #3da9fc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}

nav .nav-icons ul .page-active::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

nav .nav-icons ul li i {
  cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-6 22:42:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rr {
  width: 333px;
  height: 333px;
  background: #74ebd5;
  /* fallback for old browsers */
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#3da9fc), to(#16161a));
  background: linear-gradient(to right, #3da9fc, #16161a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border: 3px solid #16161a;
  border-radius: 78% 22% 25% 75% / 44% 43% 57% 56%;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.rr img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.about {
  background: radial-gradient(#72757e, #16161a);
  color: #dbcbcb;
  font-weight: 300;
  font-family: 'Cairo', sans-serif;
  padding-top: 80px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.about .skills-container {
  width: 100%;
}

.about .skills-container .kind-of-sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .skills-container .kind-of-sites h2 {
  color: white;
}

.about-sites {
  height: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.9fr)[2];
      grid-template-columns: repeat(2, 0.9fr);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
  text-align: center;
}

.about-sites div {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 1;
}

.about-sites div h3 {
  color: #94a1b2;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.about-sites div p {
  color: #86898f;
  font-weight: 400;
  font-size: 1.1rem;
}

.about-sites div:nth-child(1) {
  background: url("../images/fast.png");
  background-size: cover;
  background-position: center;
  background-color: #16161a;
  background-blend-mode: overlay;
}

.about-sites div:nth-child(2) {
  background: url("../images/mordern.png");
  background-size: cover;
  background-position: center;
  background-color: #16161a;
  background-blend-mode: overlay;
}

.about-sites div:nth-child(3) {
  background: url("../images/resoponsive.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #16161a;
  background-blend-mode: overlay;
}

.about-sites div:nth-child(4) {
  background: url("../images/dynamic.png");
  background-size: cover;
  background-position: center;
  background-color: #16161a;
  background-blend-mode: overlay;
}

.skills {
  color: #fffffe;
  background: transparent;
  padding-top: 4px;
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
  grid-row-gap: 30px;
  width: 95%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  text-align: left;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.skills div {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills div img {
  width: 100%;
  height: 60px;
}

.skills div:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1 / span 1 / span 2;
}

.skills div:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2/3 / span 2 / span 2;
}

.about-acive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.skills-heading {
  margin-top: 80px;
  margin-bottom: 50px;
  color: #606368;
  text-shadow: 1px 1px 2px #010101;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.skills-heading i {
  color: #3da9fc;
}

.portofolio {
  background: #242629;
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.portofolio .portofolio-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.portofolio .portofolio-container .portofolio-img img {
  -webkit-filter: drop-shadow(0.1rem 0.1rem 0.1rem #72757e);
          filter: drop-shadow(0.1rem 0.1rem 0.1rem #72757e);
  max-width: 100%;
  height: auto;
}

.portofolio .portofolio-container h3 {
  color: #94a1b2;
}

.portofolio .portofolio-container p {
  color: #86898f;
}

.portofolio-container > div {
  background: #16161a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 0 10px 10px -5px;
          box-shadow: 0 10px 10px -5px;
}

.visit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.visit button {
  background: #16161a;
  position: relative;
  height: 40px;
  width: 25%;
  border: 1px solid #86898f;
  outline: none;
}

.visit button p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4rem;
}

.portofolio-acive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact {
  background: #242629;
  color: #72757e;
  font-family: 'Cairo', sans-serif;
  padding-bottom: 20px;
}

.contact h5 {
  padding: 10px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Cairo', sans-serif;
}

form div {
  font-family: 'Cairo', sans-serif;
  width: 95%;
}

form div input,
form div textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 5px;
  resize: none;
  outline: none;
  background: #16161a;
  border: none;
  padding: 2rem 1rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

form div input::-webkit-input-placeholder,
form div textarea::-webkit-input-placeholder {
  color: #94a1b2;
  font-family: 'Cairo', sans-serif;
}

form div input:-ms-input-placeholder,
form div textarea:-ms-input-placeholder {
  color: #94a1b2;
  font-family: 'Cairo', sans-serif;
}

form div input::-ms-input-placeholder,
form div textarea::-ms-input-placeholder {
  color: #94a1b2;
  font-family: 'Cairo', sans-serif;
}

form div input::placeholder,
form div textarea::placeholder {
  color: #94a1b2;
  font-family: 'Cairo', sans-serif;
}

form div input:focus,
form div textarea:focus {
  background: #72757e;
}

form div textarea {
  height: 120px;
}

form div button {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 4px solid #3da9fc;
  border-radius: 1rem;
  color: #fffffe;
  outline: none;
  justify-items: center;
  font-family: 'Cairo', sans-serif;
  cursor: pointer;
  position: relative;
}

form div button p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-div > h5 {
  font-family: 'Cairo', sans-serif;
}

.contact-details {
  background: #94a1b2;
  width: 95%;
  color: #16161a;
  padding: 5px;
}

.contact-details i {
  color: #16161a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
}

html body {
  background: #16161a;
}

html body main {
  width: 100%;
  overflow: hidden;
}

html body section {
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.section-heading {
  color: #fffffe;
}

.section-heading h2 {
  font-size: 1.6rem;
}

.left {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.right {
  opacity: 0%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.delay {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.up-animation {
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-6 22:39:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-pan-left {
  -webkit-animation: bg-pan-left 8s both;
  animation: bg-pan-left 8s both;
}
/*# sourceMappingURL=style.css.map */