@import "./home";
@import './about';
@import './portofolio';
@import './contact';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // width: 100vw;
  // max-width: 100%;
  // overflow-x: auto;
  scroll-behavior: smooth;
  body {
    // width: 100%;
    main {
      width: 100%;
      background: gold;
    //   position: relative;
    }
    section {
      width: 100%;
      padding-top: 20px;
      // position: absolute;
    }
  }
}

