<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Blog - Ronald Otieno</title>
    <script src="https://kit.fontawesome.com/4bb691d9cc.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/blog/style.css">

  </head>
  <body>
    <nav>
      <!-- <div class="burger">
          <i class="fas fa-bars"></i>
        </div> -->
      <a href="/" class="logo">
        <svg id="logo" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 84 96">
          <title>Home</title>
          <g transform="translate(-8.000000, -2.000000)">
            <g transform="translate(11.000000, 5.000000)">
              <path
                d="M45.691667,45.15 C48.591667,46.1 50.691667,48.95 50.691667,52.2 C50.691667,57.95 46.691667,61 40.291667,61 L28.541667,61 L28.541667,30.3 L39.291667,30.3 C45.691667,30.3 49.691667,33.15 49.691667,38.65 C49.691667,41.95 47.941667,44.35 45.691667,45.15 Z M33.591667,43.2 L39.241667,43.2 C42.791667,43.2 44.691667,41.85 44.691667,38.95 C44.691667,36.05 42.791667,34.8 39.241667,34.8 L33.591667,34.8 L33.591667,43.2 Z M33.591667,47.5 L33.591667,56.5 L40.191667,56.5 C43.691667,56.5 45.591667,54.75 45.591667,52 C45.591667,49.2 43.691667,47.5 40.191667,47.5 L33.591667,47.5 Z"
                fill="currentColor"></path>
              <polygon id="Shape" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                points="39 0 0 22 0 67 39 90 78 68 78 23"></polygon>
            </g>
          </g>
        </svg>
      </a>
      <div class="nav-items">
        <ul>
          <li>
            <a href="/#about">
              <span class="nav-number">01. </span>
              <span class="nav-text">about</span>
            </a>
          </li>
          <li>
            <a href="/#portofolio">
              <span class="nav-number">02. </span class="nav-text">
              <span>portofolio</span>
            </a>
          </li>
          <li>
            <a href="/blog/">
              <span class="nav-number">03. </span>
              <span class="nav-text">blog</span>
            </a>
          </li>
          <li id="contact-btn">
            <a href="/#contact">
              <button>Contact</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="article-body">
        {{ content | safe }}
      </div>
      <div class="profile-card">
        <div class="ios">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <div class="profile-image-container">
          <div class="profile-image">
            <img src="/images/lat2-smaller.png">
          </div>
        </div>

        <div class="profile-data">
          <div class="profile-name">
            <h4> Ronald Otieno </h4>
          </div>
          <div class="profile-decription">
            <p> Baylor is a Marketing Specialist for Bluleadz. As a native Floridian, she enjoys soaking up the Florida sun, buying clothes. </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="social-icons">
        <a href="https://github.com/RonaldLat" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://twitter.com/Ron_Lats/status/1319389114014355458" target="_blank">
          <i
            class="fa fa-github"></i>
        </a>
      </div>

      <div class="copyrights">
        <span>Designed & Built by Ronald Otieno</span>
        <span>&copy2021</span>
      </div>
    </footer>
  </body>
</html>